<table>
  <tr>
    <th *ngFor="let column of displayedColumns">{{column}}</th>
    <th>changeCategory</th>
  </tr>
  <tr *ngFor="let item of dataSource; let i=index">
    <td *ngFor="let column of displayedColumns">{{item[column]}}</td>
    <td>
      <mat-form-field>
        <mat-select (selectionChange)="changeThing(item)" [(ngModel)]="item['category']">
          <mat-option value=0>Option 0</mat-option>
          <mat-option value=1>Option 1</mat-option>
          <mat-option value=2>Option 2</mat-option>
          <mat-option value=3>Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>