<ul class="menu">
  <li>
    <h3>Thing</h3>
    <ul>
      <li><a [routerLink]="[ '/thing' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">list thing</a></li>
      <li><a [routerLink]="[ '/thing/create' ]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">create thing</a></li>
    </ul>
  </li>
</ul>